.app__main__container {
  max-width: 70vw;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .app__main__container {
    max-width: 100vw;
  }
}
